header {
    display: flex;
    justify-content: space-between;
    margin: 1% 2% 5% 2%;
    color: #ffffdd;
    font-weight: bold;
}

.main-box {
    margin: 0 15%;
    text-align: center;
    border-bottom: solid thin #006a71;
    padding-bottom: 2%;
}

.answerCheck {
    margin: 0 15%;
    text-align: left;
    margin-bottom: 2%;
}

.checkAnswer {
    margin: 0 15%;
    text-align: center;
}

h1,
p {
    margin-bottom: 1%;
}

button {
    margin-top: 3%;
}

.userAnswer {
    display: block;
    margin-bottom: 2%;
}

.btn {
    background-color: #006a71;
    color: white;
}

.playAgain {
    margin: auto;
}

body {
    background-color: #006a71;
}

.container {
    background-color: #ffffdd;
    margin-bottom: 1%;
}

.label {
    color: black;
    font-size: 2rem;
}